
<main>
  <% @videos.each do |video| %>
  <article>
  <h4> <%= link_to video.title, video.youtube_link %></h4>
  <iframe class="video-embed" src="<%= video.embed_link %>" frameborder="0" allowfullscreen></iframe>
  </article>
  <%= link_to "Show", video %>
  <%= link_to "Edit", edit_path(video.id) %>

  <% end %>
</main>
